*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: lightgray; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
header{
    height: 100px;
    padding: 10px;
    text-align: center;
}
main{
    background-color: #7fffd4;
    height: 100%;

}
h1{
    text-align: center;
    padding: 10px;
}
h2{
    padding-top: 20px;
    text-align: center;
}
#counter-label{
    color: white;
    background-color: cornflowerblue;
    padding: 5px;
    border-radius: 40%;
}

.container{
    margin-bottom: 20px;
    width: 600px;
    height: 600px;
    margin: 20px auto;
    border:  2px solid rgb(0, 0, 0);
}
.container::after{
    content:'';
    display: table;
    clear: both;
}
.square{
    background-color: lightgray;

    float: left;
    border: 1px solid black;
    cursor: pointer; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.easy{
    width: calc(100% / 10);
    height: calc(100% / 10);
}
.hard{
    width: calc(100% / 9);
    height: calc(100% / 9);
    
}
.crazy{
    width: calc(100% / 7);
    height: calc(100% / 7);
}
.blue{
    background-color: cornflowerblue;
    color: white;
}
.red{
    background-color: tomato;
    color: white;
}

